{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Numbers success</h1>

    <p>You submitted the following numbers:</p>

    <ul>
        {% for number in numbers.numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
{% endblock %}
